<section class="p-feature" id="feature">
  <div class="l-container--pc">
    <h2 class="p-feature__title">AgriMatchとは</h2>
      <div class="p-feature__text">
      <p>AgriMatchとは気軽に農家と消費者が繋がる為のアプリです。<br>もっと身近に農業を。あなたの人生を豊かに。</p>
      </div>
      <ul class="p-feature__wrapper">
        <li class="p-feature__item js-card-height" style=""><img class="p-feature__item__icon" src="assets/images/free.svg">
          <h3 class="p-feature__item__title">登録も利用も<br>完全無料！</h3>
          <p class="p-feature__item__description">AgriMatchは、案件の作成やオファーの受信など農家と農作業を手伝いたい人をつなぐ機能が無料で利用できます。作業を依頼する人も手伝う人も負担する費用は0円です。</p>
        </li>
        <li class="p-feature__item js-card-height" style=""><img class="p-feature__item__icon" src="assets/images/agri.svg">
          <h3 class="p-feature__item__title">「Agriスキル」を<br>登録してアピール</h3>
          <p class="p-feature__item__description">「Agriスキル」とは自分の農業の経験を簡単に表す機能です。AgriMatchでは、このAgriスキルを使って農家や手伝いたい人に自分を知ってもらうことができます。</p>
        </li>
        <li class="p-feature__item js-card-height" style=""><img class="p-feature__item__icon" src="assets/images/comment.png">
          <h3 class="p-feature__item__title">メールで<br>簡単やりとり</h3>
          <p class="p-feature__item__description">AgriMathでは、農作業をする人と農家がマッチした後は、メールで会話できます。堅苦しい会話はいっさい不要！必要なことを素早くかんたんにやりとりしましょう。</p>
        </li>
      </ul>
  </div>
</section>

<section class="p-usage" id="usage">
  <div class="p-usage--example">
    <div class="l-container">
      <h3 class="p-usage--example__title">扱う仕事の例</h3>
        <ul class="p-usage--example__task">
          <li class="p-usage--example__item p-usage--example__item--above"><img class="p-usage--example__item__image" src="assets/images/agriculture.png" alt="耕耘アイコン">耕耘</li>
          <li class="p-usage--example__item p-usage--example__item--above"><img class="p-usage--example__item__image" src="assets/images/img_sehi.png" alt="施肥アイコン">施肥</li>
          <li class="p-usage--example__item p-usage--example__item--under"><img class="p-usage--example__item__image" src="assets/images/img_tanemaki.png" alt="種まきアイコン">種まき</li>
          <li class="p-usage--example__item p-usage--example__item--under"><img class="p-usage--example__item__image" src="assets/images/img_nae.png" alt="苗植えアイコン">苗植え</li>
          <li class="p-usage--example__item p-usage--example__item--under"><img class="p-usage--example__item__image" src="assets/images/img_saibai.png" alt="栽培管理アイコン">栽培管理</li>
        </ul>
    </div>
  </div>
</section>

<section class="p-mynavi-agriculture" id="mynavi-agriculture">
        <div class="l-container--pc">
          <h2 class="p-mynavi-agriculture__title"><img src="assets/images/ttl_mynavi.png" alt="AgriMatch Blog"></h2>
          <p class="p-mynavi-agriculture__description">農家さんや、農家体験者のblogを読んでみよう！</p>
          <div class="p-mynavi-agriculture__posts">
            <article class="p-mynavi-agriculture__item js-card-height--mynavi" style="">
            <a href="https://agri.mynavi.jp/2019_02_18_56436/" target="_blank">
              <div class="p-mynavi-agriculture__item__image"><img src="https://agri.mynavi.jp/wp-content/uploads/2019/01/P14200201.jpg"></div>
              <ul class="p-mynavi-agriculture__item__tags">
                <li class="p-mynavi-agriculture__item__tag-item">生産者の試み</li>
                <li class="p-mynavi-agriculture__item__tag-item">茨城</li>
              </ul>
              <h3 class="p-mynavi-agriculture__item__title">一本５千円のレンコン、どう売った？　茨城・野口農園が高価格路線を歩む理由</h3>
              <p class="p-mynavi-agriculture__item__description">茨城県かすみがうら市で大正時代からレンコンを栽培する野口農園は、「1本5千円の贈答用レンコン」がマスコミでも話題になり、ここ数年で売り上げを４千万円近く伸ばしています。急成長を支えるのが、業務用でも市場価格の1.5～2倍という価格での直接販売。全量JA出荷から3、4年で直販を７割に増やした野口農園は、どのようにブランド化し、販路を開拓したのでしょうか。同社で主に販売を担当する野口憲一さんに聞きました。</p>
			 </a>
            </article>
            <article class="p-mynavi-agriculture__item js-card-height--mynavi" style="">
            <a href="https://agri.mynavi.jp/2018_06_08_28856/" target="_blank">
              <div class="p-mynavi-agriculture__item__image"><img src="https://agri.mynavi.jp/wp-content/uploads/2018/06/keieikiban_ec.jpg"></div>
              <ul class="p-mynavi-agriculture__item__tags">
                <li class="p-mynavi-agriculture__item__tag-item">行政・団体・個人の支援</li>
              </ul>
              <h3 class="p-mynavi-agriculture__item__title">かしこく有効活用！農業経営基盤強化準備金制度の仕組み</h3>
              <p class="p-mynavi-agriculture__item__description">農林水産省から受けた交付金を、さらに有効活用できる「農業経営基盤強化準備金制度」。これは、農用地の取得や農業機械・設備への投資のために交付金を積み立てて5年以内に機械や設備を購入した場合、積立金を必要経費に算入し課税対象から外すことが出来るというもの。
今回は、農業経営基盤強化準備金制度を受ける上での条件や、交付金の種類などについて紹介します。</p>
			</a>
            </article>
            <article class="p-mynavi-agriculture__item js-card-height--mynavi" style="">
              <a href="https://agri.mynavi.jp/2018_06_22_29786/" target="_blank">
              <div class="p-mynavi-agriculture__item__image"><img src="https://agri.mynavi.jp/wp-content/uploads/2018/06/kasei_01.jpg"></div>
              <ul class="p-mynavi-agriculture__item__tags">
                <li class="p-mynavi-agriculture__item__tag-item">ライフスタイル</li>
              </ul>
              <h3 class="p-mynavi-agriculture__item__title">覚えておきたいメリットとデメリット</h3>
              <p class="p-mynavi-agriculture__item__description">農作物の育成に欠かせない肥料には、さまざまな種類が有ります。その数は多く、何をどう使えば良いのか悩む人もいるのではないでしょうか。効果的な肥料を選ぶためには、まず肥料の分類を知り、それぞれの特徴を押さえておくことが大切です。ここでは、化成肥料の特徴と、メリット・デメリットについて紹介します。</p>
              </a>
            </article>
          </div>
          <aside class="p-mynavi-agriculture__banner"><a href="https://agri.mynavi.jp/shunofest/" target="_blank"><img class="visible-xl" src="assets/images/banner_pc.jpg" alt="就農FESTバナー PC"><img class="visible-xs" src="assets/images/banner_sp.jpg" alt="就農FESTバナーSP"></a></aside>
        </div>
      </section>