<section class="p-feature" id="feature">
  <div class="l-container--pc">
    <h2 class="p-feature__title">AgriMatchとは</h2>
      <div class="p-feature__text">
      <p>AgriMatchとは気軽に農家と消費者が繋がる為のアプリです。<br>もっと身近に農業を。あなたの人生を豊かに。</p>
      </div>
      <ul class="p-feature__wrapper">
        <li class="p-feature__item js-card-height" style="text-align: center;">
          <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="width: 100px; height: 100px; opacity: 1; margin: 15% 0;" xml:space="preserve">
            <style type="text/css">
              .st0{fill:#4B4B4B;}
            </style>
            <g>
              <path class="st0" d="M480.169,261.752c-0.708-1.859-1.059-3.804-1.059-5.756c0-1.952,0.351-3.903,1.059-5.755l18.695-49.082
                c1.614-4.24,2.395-8.653,2.395-12.993c0.006-12.041-5.98-23.657-16.533-30.551l-43.986-28.719c-3.315-2.163-5.729-5.49-6.762-9.321
                l-13.727-50.702c-4.334-15.976-18.808-26.958-35.215-26.965c-0.615,0-1.23,0.02-1.852,0.053l0.926-0.053l-53.236,2.666l-0.919,0.02
                c-3.698,0-7.278-1.257-10.162-3.572L278.89,8.078C272.228,2.699,264.091-0.007,256.006,0c-8.091-0.007-16.228,2.699-22.903,8.078
                l0.007,0.007l-40.904,32.939c-2.878,2.315-6.47,3.572-10.162,3.572l-0.595-0.013l-52.654-2.62h0.1
                c-0.721-0.039-1.363-0.046-1.932-0.046c-16.407,0-30.875,10.989-35.208,26.958l-13.727,50.702c-1.032,3.83-3.447,7.158-6.762,9.321
                l-43.986,28.719c-10.552,6.894-16.546,18.517-16.539,30.557c0,4.34,0.78,8.746,2.388,12.98l18.709,49.088
                c0.701,1.852,1.059,3.804,1.059,5.755c0,1.952-0.351,3.897-1.059,5.749L13.135,310.84c-1.614,4.227-2.394,8.633-2.394,12.973
                c-0.007,12.04,5.98,23.67,16.539,30.57l43.986,28.719c3.315,2.163,5.729,5.478,6.762,9.308l13.727,50.702
                c4.334,15.976,18.808,26.958,35.208,26.958c0.569,0,1.171-0.007,1.82-0.04l52.475-2.62l0.099-0.007l0.714-0.02
                c3.672,0.006,7.251,1.263,10.135,3.586l40.904,32.952c6.668,5.372,14.798,8.078,22.896,8.078c8.084,0,16.222-2.699,22.89-8.078
                L319.8,470.97c2.884-2.329,6.457-3.586,10.135-3.586l0.787,0.026l52.23,2.606l0.351,0.014c0.542,0.026,1.118,0.04,1.733,0.04
                c16.4,0,30.882-10.976,35.215-26.958l13.727-50.702c1.032-3.83,3.44-7.145,6.755-9.308l43.993-28.719
                c10.552-6.906,16.539-18.524,16.533-30.564c0-4.34-0.781-8.753-2.395-12.987L480.169,261.752z M473.606,337.375l-43.98,28.711
                c-7.495,4.889-12.927,12.371-15.269,21.018L400.63,437.8c-1.906,7.086-8.342,11.948-15.593,11.948l-0.886-0.02l-51.463-2.574
                l-0.894-0.039c-0.596-0.033-1.21-0.053-1.859-0.053c-8.309,0-16.393,2.845-22.89,8.084l-40.904,32.952
                c-2.97,2.388-6.529,3.572-10.135,3.572c-3.612,0-7.172-1.184-10.141-3.572l-40.904-32.952c-6.496-5.239-14.581-8.084-22.89-8.084
                c-0.542,0.006-1.164,0.013-1.832,0.053l-52.462,2.62l-0.814,0.014c-7.244,0.006-13.681-4.869-15.586-11.941l-13.727-50.709
                c-2.342-8.64-7.774-16.122-15.276-21.011l-43.98-28.718c-4.677-3.05-7.324-8.21-7.33-13.555c0-1.919,0.344-3.851,1.058-5.729
                l18.702-49.094c1.594-4.181,2.395-8.586,2.395-12.993c0-4.406-0.801-8.812-2.395-13l-18.702-49.074
                c-0.715-1.892-1.058-3.83-1.058-5.749c0.006-5.345,2.646-10.492,7.323-13.542l43.994-28.718
                c7.495-4.902,12.927-12.385,15.269-21.024l13.727-50.708c1.906-7.072,8.35-11.948,15.586-11.941l0.715,0.013l0.225,0.013
                l51.774,2.586l0.608,0.027l1.76,0.039c8.316,0,16.4-2.832,22.91-8.064l40.904-32.952l-6.371-7.912l6.378,7.905
                c2.97-2.388,6.529-3.565,10.141-3.579c3.606,0.007,7.165,1.191,10.135,3.586l40.911,32.946c6.51,5.246,14.601,8.071,22.904,8.071
                c0.615,0,1.177-0.013,1.687-0.033l53.506-2.672l-0.893,0.046l0.78-0.026c7.244,0,13.688,4.876,15.593,11.948l13.727,50.708
                c2.342,8.64,7.774,16.122,15.269,21.018l43.987,28.725c4.677,3.05,7.324,8.197,7.324,13.536c0,1.919-0.338,3.85-1.066,5.762
                l-18.689,49.074c-1.601,4.188-2.395,8.594-2.395,12.993c0,4.406,0.801,8.812,2.395,12.993l18.696,49.082
                c0.721,1.898,1.059,3.83,1.059,5.749C480.937,329.159,478.29,334.319,473.606,337.375z" style="fill: rgb(66, 148, 81);"></path>
              <path class="st0" d="M165.753,268.527l-30.716,6.866c-0.509,0.119-0.814-0.079-0.926-0.582l-4.029-18.008
                c-0.112-0.502,0.079-0.807,0.589-0.919l36.888-8.256c0.747-0.165,1.138-0.787,0.972-1.541l-3.016-13.47
                c-0.166-0.754-0.787-1.145-1.528-0.979l-54.896,12.278c-0.754,0.172-1.151,0.794-0.979,1.548l18.589,83.092
                c0.172,0.754,0.787,1.138,1.549,0.966l15.983-3.573c0.755-0.172,1.145-0.78,0.973-1.534l-7.211-32.231
                c-0.112-0.504,0.086-0.814,0.595-0.927l30.716-6.873c0.754-0.166,1.144-0.787,0.973-1.541l-2.984-13.344
                C167.123,268.745,166.507,268.355,165.753,268.527z" style="fill: rgb(66, 148, 81);"></path>
              <path class="st0" d="M238.439,267.865c8.507-6.272,12.351-16.254,9.903-27.203c-3.493-15.613-17.524-23.975-35.03-20.058
                l-34.11,7.634c-0.754,0.165-1.151,0.78-0.979,1.541l18.59,83.086c0.172,0.754,0.788,1.144,1.549,0.979l15.983-3.579
                c0.754-0.172,1.145-0.787,0.973-1.541l-6.848-30.591c-0.106-0.502,0.086-0.814,0.596-0.926l11.452-2.56l21.745,28.05
                c0.569,0.801,1.039,1.092,2.17,0.84l17.882-4.009c0.88-0.192,1.079-1.032,0.543-1.706L238.439,267.865z M220.649,258.094
                l-15.104,3.381c-0.509,0.112-0.82-0.086-0.933-0.59l-4.419-19.767c-0.112-0.503,0.079-0.808,0.589-0.92l15.103-3.38
                c7.052-1.581,12.516,1.555,13.952,7.985C231.301,251.346,227.701,256.512,220.649,258.094z" style="fill: rgb(66, 148, 81);"></path>
              <path class="st0" d="M328.212,267.998l-36.888,8.256c-0.502,0.112-0.807-0.079-0.926-0.589l-3.969-17.749
                c-0.112-0.503,0.08-0.808,0.582-0.926l30.723-6.867c0.754-0.172,1.151-0.794,0.979-1.548l-2.983-13.338
                c-0.172-0.761-0.794-1.151-1.549-0.979l-30.716,6.867c-0.503,0.118-0.808-0.08-0.927-0.582l-3.797-16.996
                c-0.113-0.503,0.079-0.814,0.582-0.919l36.888-8.257c0.748-0.172,1.138-0.787,0.973-1.541l-3.016-13.469
                c-0.165-0.761-0.787-1.144-1.528-0.979l-54.896,12.279c-0.754,0.172-1.151,0.787-0.979,1.541l18.59,83.091
                c0.172,0.755,0.787,1.145,1.548,0.973l54.89-12.278c0.747-0.165,1.138-0.787,0.966-1.541l-3.01-13.469
                C329.575,268.223,328.96,267.832,328.212,267.998z" style="fill: rgb(66, 148, 81);"></path>
              <path class="st0" d="M399.316,252.094l-36.882,8.25c-0.503,0.113-0.814-0.086-0.926-0.588l-3.97-17.75
                c-0.113-0.502,0.086-0.814,0.588-0.919l30.71-6.88c0.768-0.165,1.152-0.781,0.986-1.535l-2.984-13.35
                c-0.172-0.754-0.787-1.144-1.548-0.979l-30.716,6.88c-0.503,0.106-0.807-0.086-0.919-0.589l-3.804-16.996
                c-0.112-0.503,0.08-0.807,0.582-0.926l36.882-8.25c0.768-0.172,1.158-0.787,0.992-1.541l-3.016-13.47
                c-0.172-0.761-0.78-1.151-1.548-0.979L328.86,194.75c-0.754,0.171-1.151,0.787-0.979,1.541l18.59,83.092
                c0.172,0.754,0.788,1.145,1.542,0.973l54.882-12.279c0.768-0.172,1.158-0.787,0.986-1.542l-3.017-13.47
                C400.699,252.312,400.084,251.922,399.316,252.094z" style="fill: rgb(66, 148, 81);"></path>
            </g>
          </svg>

        
          <h3 class="p-feature__item__title">登録も利用も<br>完全無料！</h3>
          <p class="p-feature__item__description">AgriMatchは、案件の作成やオファーの受信など農家と農作業を手伝いたい人をつなぐ機能が無料で利用できます。作業を依頼する人も手伝う人も負担する費用は0円です。</p>
        </li>
        <li class="p-feature__item js-card-height" style="text-align: center;">
          <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="width: 100px; height: 100px; opacity: 1; margin: 15% 0;" xml:space="preserve">
            <style type="text/css">
              .st0{fill:#4B4B4B;}
            </style>
            <g>
              <path class="st0" d="M283.441,199.253c0-7.309-5.933-13.232-13.25-13.232c-7.3,0-13.231,5.924-13.231,13.232
                c0,7.318,5.932,13.24,13.231,13.24C277.508,212.493,283.441,206.571,283.441,199.253z" style="fill: rgb(66, 148, 81);"></path>
              <path class="st0" d="M230.62,238.878c0-7.308-5.933-13.25-13.25-13.25c-7.3,0-13.25,5.941-13.25,13.25
                c0,7.309,5.95,13.242,13.25,13.242C224.687,252.119,230.62,246.187,230.62,238.878z" style="fill: rgb(66, 148, 81);"></path>
              <path class="st0" d="M195.665,312.498c0,7.308,5.933,13.241,13.25,13.241c7.3,0,13.25-5.933,13.25-13.241
                c0-7.309-5.95-13.24-13.25-13.24C201.598,299.257,195.665,305.189,195.665,312.498z" style="fill: rgb(66, 148, 81);"></path>
              <path class="st0" d="M279.392,291.744c7.317,0,13.249-5.924,13.249-13.242c0-7.308-5.932-13.231-13.249-13.231
                c-7.301,0-13.232,5.923-13.232,13.231C266.16,285.821,272.091,291.744,279.392,291.744z" style="fill: rgb(66, 148, 81);"></path>
              <path class="st0" d="M451.128,457.438c-20.541-15.4-73.127-54.838-102.504-76.888c-37.05-27.786-55.574-41.685-92.624-41.685
                c-37.068,0-55.574,13.899-92.625,41.685c-29.39,22.05-81.98,61.489-102.521,76.888H8.197V512h495.606v-54.562H451.128z" style="fill: rgb(66, 148, 81);"></path>
              <polygon class="st0" points="381.678,125.518 381.66,125.535 381.66,125.544 	" style="fill: rgb(66, 148, 81);"></polygon>
              <path class="st0" d="M146.449,180.382c9.325,0,19.342-1.048,30.176-3.464l0.231-0.044c58.256-12.007,81.63-16.829,93.317-19.236
                c16.056-3.339,27.352-16.65,28.986-32.156c10.639,4.511,21.527,9.254,27.867,12.29l0.089,0.045l0.071,0.027
                c0.018,0,0.018,0,0.018,0l0.106,0.062v-0.009c6.714,3.064,14.032,4.68,21.384,4.698h0.036c6.038-0.017,12.238-1.118,18.063-3.809
                l-0.035,0.009c5.844-2.691,11.224-7.114,14.901-13.26c3.712-6.18,5.773-13.063,5.773-20.025v-0.142
                c0.035-11.918-6.448-23.179-17.282-29.724h0.018l-0.089-0.053l-0.319-0.223l-0.462-0.248l-0.035-0.018
                c-6.146-3.276-38.933-20.878-70.139-37.635c-15.612-8.374-30.834-16.553-42.148-22.628c-5.666-3.037-10.337-5.559-13.605-7.308
                c-1.634-0.88-2.913-1.563-3.783-2.034l-0.995-0.533l-0.266-0.143l-0.071-0.035l-0.017-0.018h-0.018l-0.018-0.018l-0.018-0.009
                l-0.32-0.186l-0.355-0.151c-0.036-0.008-0.071-0.026-0.106-0.044l-0.089-0.036C231.117,1.501,224.9-0.018,218.613,0h-0.018
                l-0.124,0.008V0c-0.036,0-0.071,0.008-0.106,0.008l-0.639,0.027v0.026c-5.648,0.106-10.888,1.092-16.891,2.318l-0.142,0.036
                l-0.249,0.053L73.451,29.972H8.197v131.894h62.928C90.644,167.691,113.644,180.302,146.449,180.382z M28.675,50.441l47.352-0.08
                l129.265-28c5.825-1.199,9.857-1.882,13.178-1.882c3.57,0.018,6.412,0.702,10.266,2.433c3.784,2.024,117.952,63.345,130.58,70.085
                c5.026,3.082,7.602,7.3,7.638,12.513c0,3.134-0.959,6.332-2.86,9.52c-1.368,2.255-3.304,3.96-5.95,5.186
                c-2.646,1.243-5.914,1.9-9.431,1.9c-4.37,0-8.952-1.013-12.912-2.842c-14.902-7.105-49.128-21.278-59.677-25.612l-1.03-0.223
                c-4.707-1.918-10.035-2.939-15.576-2.939l-2.416,0.08c-2.22,0.116-13.072,0.693-25.594,1.279
                c-10.354,0.488-29.039,1.296-37.831,1.315l-24.759-1.101c-0.852,0-1.687,0.346-2.326,0.923c-0.676,0.622-1.066,1.492-1.084,2.407
                l-0.231,8.525c-0.053,1.864,1.403,3.428,3.25,3.508l24.92,1.092c14.83-0.017,53.124-2.016,64.792-2.646l1.368-0.017
                c4.902,0,9.448,1.208,12.806,3.41c3.446,2.273,5.452,5.168,6.287,9.102c0.213,1.066,0.319,2.176,0.319,3.294
                c0,7.673-5.47,14.369-12.983,15.923l-93.885,19.333c-8.934,2.007-17.336,2.974-25.79,2.974c-20.212,0-36.41-5.941-52.11-11.695
                c-6.146-2.255-12.504-4.592-19.538-6.669l-0.994-0.151H28.675V50.441z" style="fill: rgb(66, 148, 81);"></path>
            </g>
          </svg>

          <h3 class="p-feature__item__title">「Agriスキル」を<br>登録してアピール</h3>
          <p class="p-feature__item__description">「Agriスキル」とは自分の農業の経験を簡単に表す機能です。AgriMatchでは、このAgriスキルを使って農家や手伝いたい人に自分を知ってもらうことができます。</p>
        </li>
        <li class="p-feature__item js-card-height" style="text-align: center;">
          <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="width: 100px; height: 100px; opacity: 1; margin: 15% 0;" xml:space="preserve">
            <style type="text/css">
              .st0{fill:#4B4B4B;}
            </style>
            <g>
              <path class="st0" d="M442.539,73.946c-44.84-37.927-108.949-60.084-187.344-60.066c-74.388,0-137.905,20.981-183.328,58.411
                c-22.702,18.686-40.758,41.492-53.06,67.428C6.489,165.648-0.019,194.641,0,225.422c-0.019,37.214,7.768,71.586,23.511,101.577
                c14.99,28.664,37.297,53.04,65.699,72.103c-6.715,28.269-16.157,68.67-16.157,68.689c-0.432,1.815-0.658,3.706-0.639,5.624
                c-0.018,7.59,3.518,14.897,9.667,19.608l0.038,0.028v0.01c4.402,3.348,9.705,5.06,15.01,5.06c3.988,0,8.031-0.969,11.68-2.934
                l0.358-0.188l0.357-0.216c0.019-0.009,5.079-3.01,12.866-7.618c11.661-6.903,29.435-17.407,45.291-26.745
                c7.919-4.665,15.367-9.038,21.31-12.508c5.924-3.46,10.476-6.103,12.17-7.034l0.075-0.047l0.112-0.065
                c22.1-12.527,39.705-14.634,53.849-14.709c58.702-0.085,121.212-11.464,171.13-42.62c24.902-15.602,46.57-36.413,61.806-63.056
                c15.272-26.624,23.886-58.853,23.868-96.16C512.112,165.545,487.416,111.78,442.539,73.946z M454.709,301.24
                c-8.822,15.376-20.37,28.316-34.232,39.282c-20.784,16.429-46.871,28.288-75.479,35.934c-28.598,7.664-59.652,11.088-89.802,11.078
                c-18.508-0.075-44.369,3.414-72.752,19.684v-0.01c-3.141,1.749-10.137,5.822-19.354,11.219
                c-13.222,7.759-30.62,18.019-45.14,26.614c3.536-15.094,7.656-32.576,10.721-45.413v-0.019c0.508-2.144,0.884-4.468,0.884-7.11
                c0.038-3.724-0.922-8.266-3.065-12.046c-1.6-2.831-3.65-5.06-5.436-6.583c-2.746-2.285-4.796-3.273-5.944-3.903l-1.166-0.592
                l-0.132-0.075c-25.147-16.204-43.655-36.329-56.18-60.188c-12.527-23.897-19.11-51.781-19.11-83.69
                c0-25.401,5.285-48.526,15.084-69.187c14.708-30.94,39.667-56.605,73.786-74.896c34.082-18.254,77.398-28.937,127.805-28.937
                c71.284,0.019,125.933,20.031,162.46,50.952c36.47,31.025,55.692,72.799,55.824,120.864
                C473.442,255.723,466.407,280.729,454.709,301.24z" style="fill: rgb(66, 148, 81);"></path>
              <path class="st0" d="M135.055,197.171c-16.278,0-29.472,13.204-29.472,29.483c0,16.278,13.194,29.473,29.472,29.473
                c16.288,0,29.482-13.194,29.482-29.473C164.538,210.375,151.344,197.171,135.055,197.171z" style="fill: rgb(66, 148, 81);"></path>
              <path class="st0" d="M250.024,197.171c-16.28,0-29.474,13.204-29.474,29.483c0,16.278,13.194,29.473,29.474,29.473
                c16.288,0,29.482-13.194,29.482-29.473C279.506,210.375,266.312,197.171,250.024,197.171z" style="fill: rgb(66, 148, 81);"></path>
              <path class="st0" d="M365,197.171c-16.278,0-29.482,13.204-29.482,29.483c0,16.278,13.204,29.473,29.482,29.473
                c16.288,0,29.484-13.194,29.484-29.473C394.484,210.375,381.288,197.171,365,197.171z" style="fill: rgb(66, 148, 81);"></path>
            </g>
          </svg>

          <h3 class="p-feature__item__title">チャットで<br>簡単やりとり</h3>
          <p class="p-feature__item__description">AgriMathでは、農作業をする人と農家がマッチした後は、チャットで会話できます。堅苦しい会話はいっさい不要！必要なことを素早くかんたんにやりとりしましょう。</p>
        </li>
      </ul>
  </div>
</section>

<section class="p-usage" id="usage">
  <div class="p-usage--example">
    <div class="l-container">
      <h3 class="p-usage--example__title">扱う仕事の例</h3>
        <ul class="p-usage--example__task">
          <li class="p-usage--example__item p-usage--example__item--above"><img class="p-usage--example__item__image" src="assets/images/agriculture.png" alt="耕耘アイコン">耕耘</li>
          <li class="p-usage--example__item p-usage--example__item--above"><img class="p-usage--example__item__image" src="assets/images/img_sehi.png" alt="施肥アイコン">施肥</li>
          <li class="p-usage--example__item p-usage--example__item--under"><img class="p-usage--example__item__image" src="assets/images/img_tanemaki.png" alt="種まきアイコン">種まき</li>
          <li class="p-usage--example__item p-usage--example__item--under"><img class="p-usage--example__item__image" src="assets/images/img_nae.png" alt="苗植えアイコン">苗植え</li>
          <li class="p-usage--example__item p-usage--example__item--under"><img class="p-usage--example__item__image" src="assets/images/img_saibai.png" alt="栽培管理アイコン">栽培管理</li>
        </ul>
    </div>
  </div>
</section>

<section class="p-mynavi-agriculture" id="mynavi-agriculture">
        <div class="l-container--pc">
          <h2 class="p-mynavi-agriculture__title"><img src="assets/images/ttl_mynavi.png" alt="AgriMatch Blog"></h2>
          <p class="p-mynavi-agriculture__description">農家さんや、農家体験者のblogを読んでみよう！</p>
          <div class="p-mynavi-agriculture__posts">
            <article class="p-mynavi-agriculture__item js-card-height--mynavi" style="">
            <a href="https://agri.mynavi.jp/2019_02_18_56436/" target="_blank">
              <div class="p-mynavi-agriculture__item__image"><img src="https://agri.mynavi.jp/wp-content/uploads/2019/01/P14200201.jpg"></div>
              <ul class="p-mynavi-agriculture__item__tags">
                <li class="p-mynavi-agriculture__item__tag-item">生産者の試み</li>
                <li class="p-mynavi-agriculture__item__tag-item">茨城</li>
              </ul>
              <h3 class="p-mynavi-agriculture__item__title">一本５千円のレンコン、どう売った？　茨城・野口農園が高価格路線を歩む理由</h3>
              <p class="p-mynavi-agriculture__item__description">茨城県かすみがうら市で大正時代からレンコンを栽培する野口農園は、「1本5千円の贈答用レンコン」がマスコミでも話題になり、ここ数年で売り上げを４千万円近く伸ばしています。急成長を支えるのが、業務用でも市場価格の1.5～2倍という価格での直接販売。全量JA出荷から3、4年で直販を７割に増やした野口農園は、どのようにブランド化し、販路を開拓したのでしょうか。同社で主に販売を担当する野口憲一さんに聞きました。</p>
			 </a>
            </article>
            <article class="p-mynavi-agriculture__item js-card-height--mynavi" style="">
            <a href="https://agri.mynavi.jp/2018_06_08_28856/" target="_blank">
              <div class="p-mynavi-agriculture__item__image"><img src="https://agri.mynavi.jp/wp-content/uploads/2018/06/keieikiban_ec.jpg"></div>
              <ul class="p-mynavi-agriculture__item__tags">
                <li class="p-mynavi-agriculture__item__tag-item">行政・団体・個人の支援</li>
              </ul>
              <h3 class="p-mynavi-agriculture__item__title">かしこく有効活用！農業経営基盤強化準備金制度の仕組み</h3>
              <p class="p-mynavi-agriculture__item__description">農林水産省から受けた交付金を、さらに有効活用できる「農業経営基盤強化準備金制度」。これは、農用地の取得や農業機械・設備への投資のために交付金を積み立てて5年以内に機械や設備を購入した場合、積立金を必要経費に算入し課税対象から外すことが出来るというもの。
今回は、農業経営基盤強化準備金制度を受ける上での条件や、交付金の種類などについて紹介します。</p>
			</a>
            </article>
            <article class="p-mynavi-agriculture__item js-card-height--mynavi" style="">
              <a href="https://agri.mynavi.jp/2018_06_22_29786/" target="_blank">
              <div class="p-mynavi-agriculture__item__image"><img src="https://agri.mynavi.jp/wp-content/uploads/2018/06/kasei_01.jpg"></div>
              <ul class="p-mynavi-agriculture__item__tags">
                <li class="p-mynavi-agriculture__item__tag-item">ライフスタイル</li>
              </ul>
              <h3 class="p-mynavi-agriculture__item__title">覚えておきたいメリットとデメリット</h3>
              <p class="p-mynavi-agriculture__item__description">農作物の育成に欠かせない肥料には、さまざまな種類が有ります。その数は多く、何をどう使えば良いのか悩む人もいるのではないでしょうか。効果的な肥料を選ぶためには、まず肥料の分類を知り、それぞれの特徴を押さえておくことが大切です。ここでは、化成肥料の特徴と、メリット・デメリットについて紹介します。</p>
              </a>
            </article>
          </div>
          <aside class="p-mynavi-agriculture__banner"><a href="https://agri.mynavi.jp/shunofest/" target="_blank"><img class="visible-xl" src="assets/images/banner_pc.jpg" alt="就農FESTバナー PC"><img class="visible-xs" src="assets/images/banner_sp.jpg" alt="就農FESTバナーSP"></a></aside>
        </div>
      </section>