<main role="main" class="main-banner" id="blog-banner">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">ブログ!</h1>
      <p>日本中の農家やAgriMatchを利用した人の体験など、お家から参加できるユニークなBlog。</p>
    </div>
  </div>

  <section id="latest-properties" class="mb-5">
    <div class="container">
      <div class="row">
        <%= render "posts/list", posts: @posts %>
      </div>
    </div>
  </section>


</main>
